# paquetes requeridos para que la aplicacion funcione

# entorno virtual env_whatsapp: python3 -m venv env_whatsapp
# activar entonrno virtual: . env_whatsapp/bin/activate
# desactivar entorno virtual: deactivate

# python version 3.12.4: python3 --version
# pip version 24.2: pip list
# restarurar certificados ssl: pip install --upgrade certifi

# listar paquetes instalados en el entorno: pip list
# actualizar a la ultima version de pip: pip install --upgrade pip

# instalar flask micro web framework : pip install "flask[async]"

# comunicaciones asincronas: pip install aiohttp[speedups]
# o instar los siguientes modulos independientes tiene el mismo efecto que el comando anterior
# pip install aiohttp
# pip install aiodns
# pip install Brotli

# esta pendiente que llege un mensaje tipo template con un link de un archivo pdf xxxxxxxx
